<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Okurio</display-name>
  <welcome-file-list>
    <welcome-file>StatsServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StatsServlet</display-name>
    <servlet-name>StatsServlet</servlet-name>
    <servlet-class>data.StatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsServlet</servlet-name>
    <url-pattern>/StatsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxRequestServlet</display-name>
    <servlet-name>AjaxRequestServlet</servlet-name>
    <servlet-class>data.AjaxRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxRequestServlet</servlet-name>
    <url-pattern>/AjaxRequestServlet</url-pattern>
  </servlet-mapping>
  
</web-app>